<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/127922d8a4.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Features</title>
    <link rel="stylesheet" href="../styles/components.css" />
  </head>
  <body>
    <!-- Features Section -->
    <section class="features">
      <div class="feature">
        <i class="fa-solid fa-truck-fast"></i>
        <h3>Fast & Free Shipping</h3>
      </div>
      <div class="feature">
        <i class="fa-solid fa-store"></i>
        <h3>Easy to Shop</h3>
      </div>
      <div class="feature">
        <i class="fa-solid fa-headset"></i>
        <h3>24/7 Support</h3>
      </div>
      <div class="feature">
        <i class="fa-solid fa-share fa-flip-horizontal"></i>
        <h3>Hassle Free Returns</h3>
      </div>
    </section>
  </body>
</html>
