<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/127922d8a4.js"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/components.css" />
    <title>Footer Design</title>
  </head>
  <body>
     <!-- Footer Section -->
     <footer>
      <div class="footer-container">
        <div class="footer-section">
          <h3>Information</h3>
          <ul>
            <li><a href="#">Delivery information</a></li>
            <li><a href="#">Offers</a></li>
            <li><a href="#">Return Policy</a></li>
            <li><a href="#">Shipping information</a></li>
            <li><a href="#">Track your order</a></li>
            <li><a href="#">Catalogues</a></li>
            <li><a href="#">Help Center</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h3>About us</h3>
          <ul>
            <li><a href="#">Our Company</a></li>
            <li><a href="#">Our story</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Financing</a></li>
            <li><a href="#">Advertise with us</a></li>
            <li><a href="#">Location</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h3>Customer service</h3>
          <ul>
            <li><a href="#">My Order</a></li>
            <li><a href="#">My account</a></li>
            <li><a href="#">24/7 call available</a></li>
            <li><a href="#">Complains</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h3>Resource</h3>
          <ul>
            <li><a href="#">Free Design Service</a></li>
            <li><a href="#">Gift Registry</a></li>
            <li><a href="#">Trader Resource</a></li>
            <li><a href="#">Become an Affiliate</a></li>
            <li><a href="#">Creator Program</a></li>
          </ul>
        </div>
        <div class="footer-contact">
          <h3>Contact Us</h3>
          <ul>
            <li><i class="fa-regular fa-envelope fa-lg"></i><a href="mailto:HODecor@gmail.com">HODecor@gmail.com</a></li>
            <li><i class="fa-solid fa-phone fa-lg"></i><a href="tel:+2349043356791">+2349043356791</a></li>
            <li>
              <span>Follow us on</span>
              <a href="#"><i class="fa-brands fa-facebook fa-lg" style="color: #2c53af"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter fa-lg" style="color: #000000"></i></a>
              <a href="#"><i class="fa-brands fa-instagram fa-lg" style="color: #b12525"></i></a>
            </li>
            <li><i class="fa-solid fa-location-dot fa-lg"></i><span>Lagos</span><i class="fa-solid fa-location-dot fa-lg"></i><span>Abuja</span></li>
          </ul>
        </div>
      </div>
      <div class="footer-logo">
        <img src="../images/logo.svg" alt="Home of Decor Logo" />
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 Home of Decor. All rights reserved</p>
        <div class="footer-links">
          <a href="#">Privacy</a>
          <a href="#">Terms & Conditions</a>
        </div>
      </div>
    </footer>
  </body>
</html>
